/* Common text style */

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Lato'

}

/* Website banner style */

.website-banner {

    text-align: center;
    justify-content: space-around;
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    padding: 150px 240px 0px 240px;
    gap: 70px;

}

.web-banner-content {

    max-width: 500px;
    text-align: left;
}

.banner-heading {
    display: flex;
    width: 680px;
    color: #272727;
    font-size: 80px;
    font-weight: 800px;
    margin-bottom: 0;

}

.banner-text {
    display: flex;
    width: 600px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.banner-button {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 15px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700px;
    margin-top: 0;


}

/* Feature-flower section style */

.Featured-Flowers-heading {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 180px;
    margin-bottom: 0px;

}


.Featured-Flowers-text {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.flower-pictures {
    display: flex;
    justify-content: center;
    gap: 18px;


}

.picture-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 100px 70px 0px 74px;


}

.picture-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 110px 40px 50px 40px;
}

.picture-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 60px 70px 0px 70px;
}

.pic-cp {
    color: #272727;
    text-align: center;
    font-size: 24px;
    text-decoration-line: underline;
    margin-top: 40px;
}


/* Section-2 styles */

.section-2 {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    background: rgba(229, 84, 115, 0.05);
    padding: 230px 500px 230px 300px;
    margin-top: 300px;
    gap: 0px;
}

.sec-2-heading {
    color: #272727;

    font-size: 40px;

    font-weight: 800;

}

.sec-2-text {
    color: rgba(39, 39, 39, 0.60);


    font-size: 18px;

    font-weight: 400;
    line-height: 30px;
}

.span-text {
    color: #E55473;
}

/* section-3 style */

.section-3 {
    text-align: center;
    margin-top: 110px;
}

.sec-3-heading {
    color: #272727;

    font-size: 40px;

    font-weight: 800;
    margin-bottom: 18px;

}

.sec-3-text {
    color: rgba(39, 39, 39, 0.60);


    font-size: 18px;

    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}

.pics-3 {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-bottom: 120px;
}

/* section-4 style */

.section-4 {
    text-align: center;
    margin-top: 110px;

}

.sec-4-content {
    background-image: url('./Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 120px;
    border-radius: 8px;

}

.sec-4-heading {
    color: #272727;

    font-size: 40px;

    font-weight: 800;
    padding: 110px 100px 0px 100px;

}

.sec-4-text {
    padding: 16px 100px 48px 100px;
    color: rgba(39, 39, 39, 0.60);


    font-size: 18px;

    font-weight: 400;
    line-height: 30px;

}

.email-info {
    padding: 0px 100px 180px 100px;


}

.sec-4-btn {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 15px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700px;
    margin-top: 0;

}

.Enter-your-email {
    padding: 22px 500px 22px 22px;
    border-radius: 8px;
    border: none;
}

/* section-5 styles */

.sec-5 {
    text-align: center;
    background-color: #111010;
}

.sec-5-heading {
    padding: 110px 700px 0px 700px;
    color: white;

    font-size: 48px;

    font-weight: 800;


}

.sec-5-text {
    padding: 24px 700px 0px 700px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;

    font-size: 18px;

    font-weight: 400px;
    line-height: 30px;
}

.copy-rights {
    padding: 32px 700px 110px 700px;
    color: rgba(255, 255, 255, 0.40);
    text-align: center;

    font-size: 16px;

    font-weight: 400;

}